{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "css-js"],
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ]
  },
  "settings": {
    "import/core-modules": [
      "react",
      "prop-types",
      "react-helmet",
      "glamor",
      "typography"
    ]
  }
}
